body {
    font-family: Roboto;
    background-color: #ffd4b0;
    color: #0090a8;
}

h1, h2, h3, h4, h5,h6 {
    font-family:"Shrikhand";
    text-align: center;
}

h1 {
    font-size: 40pt;
}

header {
    text-align: center;
}


/* Hero section */
#hero, footer {
    color:#31d8f5;
    border: 3px solid #f58830;
    background-color: #a85511;
    text-align: center;
    padding: 10px;
}

#hero img {
    width: 300px;
}

/* Bio section*/
#bio {
    text-align: center;
}

/* Hobbies section */

#hobbies {
    list-style-position: inside;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}

#hobbies ul li:nth-child(odd){
    color: darkred;
}

#hobbies ul li:nth-child(even) {
    color: #0090a8;
}

/* Gallery section */

#gallery {
    border: 3px dotted #f58830
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center;
}

/* Literature */

#lit {
    border: 3px dashed #f58830;
    margin-top: 5px;
    margin-bottom: 5px;
}

#lit div {
    padding: 3px;
    max-width: 1000px;
    margin: 0 auto;
}

#lit div p {
    padding: 2px 0px;
}

#lit div p:first-line {
    font-size: 18px;
    font-style: italic;
    padding-bottom: 5px;
}

#lit div p:first-letter {
    font-size: 25px;
    font-style: italic;
    font-weight: bolder;
    padding-right: 4px;
    font-family: "Shrikhand";
    color: #a85511;
}